[submodule "wgsim"]
	path = wgsim.git
	url = git@github.com:ajtritt/wgsim.git
[submodule "scikit-bio"]
	path = scikit-bio.git
	url = git@github.com:ajtritt/scikit-bio.git
[submodule "hdmf.git"]
	path = hdmf.git
	url = git@github.com:hdmf-dev/hdmf.git
[submodule "umap"]
	path = umap.git
	url = git@github.com:ajtritt/umap.git
