[submodule "wgsim"]
	path = wgsim.git
	url = git@github.com:ajtritt/wgsim.git
[submodule "scikit-bio"]
	path = scikit-bio.git
	url = git@github.com:ajtritt/scikit-bio.git
[submodule "hdmf.git"]
	path = hdmf.git
	url = git@github.com:ajtritt/hdmf.git
[submodule "umap"]
	path = umap.git
	url = git@github.com:ajtritt/umap.git
[submodule "5ea0c84b6ad22c000125ce43"]
	path = journal
	url = https://git.overleaf.com/5ea0c84b6ad22c000125ce43
[submodule "src\\exabiome\\hdmf-ml\\schema"]
	path = src\\exabiome\\hdmf-ml\\schema
	url = https://github.com/hdmf-dev/hdmf-ml.git
